---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const blogs = await getCollection('blog');
  return blogs.map(blog => ({
    params: { slug: blog.slug }, props: { blog },
  }))
}
const { blog } = Astro.props;
const { Content } = await blog.render()
---
<Layout title={blog.data.title}>
  <main class="w-full flex flex-col items-center">
    <div class="w-85% 2xl:w-40% xl:w-50% lg:w-60% md:w-75% flex flex-col items-center">
      <h1 class="text-3xl font-600 mt-5 mb-10 w-full text-center">{blog.data.title}</h1>
      <article class="prose">
        <Content />
      </article>
    </div>
  </main>
</Layout>

<script>
const codeBlocks = document.querySelectorAll('.astro-code')
codeBlocks.forEach((block) => {
  const copyEle = document.createElement('div')
  copyEle.classList.add('flex', 'justify-between', 'border-b-solid', 'border-b-1', 'mt-[-10px]', 'mb-10px', 'pb-5px')

	const icon = document.createElement('div')
	icon.classList.add('i-mdi-content-copy', 'w-18px', 'h-18px', 'cursor-pointer')
  const code = block.querySelector('code')?.innerText
	icon.dataset.code = code?.replace('s', '龍')
  icon.addEventListener('click', () => {
    icon.classList.remove('i-mdi-content-copy')
    icon.classList.add('i-mdi-check')
    const content = (icon.dataset.code ?? '').replace('龍', 's')
    navigator.clipboard.writeText(content)
    setTimeout(() => {
      icon.classList.remove('i-mdi-check')
      icon.classList.add('i-mdi-content-copy')
    }, 1500)
  })

  const langSymbol = document.createElement('div')
	langSymbol.textContent = (block as HTMLElement).dataset.language ?? 'txt'

  copyEle.appendChild(langSymbol)
  copyEle.appendChild(icon)
  block.insertBefore(copyEle, block.firstChild)
})
</script>
