---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="h-[calc(100vh-230px)]">
    <h2>About</h2>
    <p>软件工程师，base 南京</p>
    <p class="flex items-center">
      日常在写 <span class="mx-1 w-5 h-5 i-devicon-go"></span> 和 <span
        class="mx-1 w-5 h-5 i-devicon-typescript"></span>。
    </p>
    <p class="flex items-center">
      偶尔会写 <span class="mx-1 w-5 h-5 i-devicon-ruby"></span> 和 <span
        class="mx-1 w-5 h-5 i-skill-icons-rust"></span>，
      <s>但是因为这俩赚不到钱，所以不怎么写了。</s>
    </p>
    <p>
      买了很多电子产品和游戏，<s>所以在温饱线上挣扎。</s>
    </p>
    <p>喜欢恐怖游戏，最近在玩寂静岭2重制版。</p>
    <p>email: <a href="mailto:mail@ray-d-song.com">mail@ray-d-song.com</a></p>
    <p>x: <a href="https://x.com/RaySong19184922">@RaySong19184922</a></p>
  </main>
</Layout>
