---
import { formatDate } from '@/utils/date';
interface Props {
  blog: {
    slug: string;
    data: {
      title: string;
      date: string;
      tag: string[];
    };
    body: string;
  }
}

const { blog } = Astro.props;
---

<ul
  data-slug={blog.slug}
  class="bg-[#E4DFCD] dark:bg-[#121212] cursor-pointer hover:scale-101 transition-transform transition-ease-in-out transition-duration-300 rounded-lg w-90% md:w-80% lg:w-70% xl:w-60% 2xl:w-50% p-6">
  <h1 class="font-700 text-2xl mb-2">
    {blog.data.title}
  </h1>
  <p class="xl:line-clamp-2 line-clamp-3 mb-2">
    {blog.body.slice(0, 300)}
  </p>
  <p class="w-full flex justify-between items-center">
    <time class="text-sm">
      {formatDate(blog.data.date, false)}
    </time>
    <span>
      {
        blog.data.tag.map(item => (
          <a class="ml-2px text-sm">
            <span class="mr-2px">#</span>{item}
          </a>
        ))
      }
    </span>
  </p>
</ul>

<script>
const uls = document.querySelectorAll('ul')
if(uls)
  uls.forEach((ul) => {
    ul.addEventListener('click', () => {
      const slugStr = ul.getAttribute('data-slug') as string
      const [lang, ...slug] = slugStr.split('/')
      window.location.href = `/${lang}/blog/${slug.join('/')}`
    })
  })
</script>