---
import Card from '@/components/Card.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const tags = Array.from(new Set(
  (await getCollection('blog'))
    .map(blog => blog.data.tag)
    .flat()
  ))

  return tags.map(tag => {
    return {
      params: { lang: 'zh-cn', tag },
    }
  })
}
const {lang, tag} = Astro.params

const blogs = (await getCollection('blog'))
  .filter(blog => blog.data.tag.includes(tag))
  .filter(blog => blog.slug.includes(lang))
---

<Layout title={tag??`Ray-D-Song's Blog`} lang={lang} desc="Explore Ray-D-Song's Blog for insights on programming">
  <main class="flex justify-center items-center flex-col gap-8">
    <div class="text-xl font-500 w-full flex justify-center">
      <h1 class="w-20% w-90% md:w-80% lg:w-70% xl:w-60% 2xl:w-50% border-b-solid dark:border-b-gray-1 border-b-gray-8 border-b pb-2">
        <span class="mr-2 font-450"># </span> {tag}
      </h1>
    </div>
    {
      blogs
      .sort((a, b) => (new Date(b.data.date)).getTime() - (new Date(a.data.date)).getTime())
      .map(blog => (
        <Card blog={blog} />
      ))
    }
  </main>
</Layout>