---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import {colors} from '../../utils/tagColor'

export async function getStaticPaths() {
  return [
    { params: { lang: 'zh-cn' } },
    { params: { lang: 'en' } },
  ]
}
const {lang} = Astro.params

const tags = Array.from(new Set(
  (await getCollection('blog'))
    .map(blog => blog.data.tag)
    .flat()
))
---

<Layout title="Ray-D-Song's Blog archives">
  <main class="flex gap-2 p-5 justify-center items-center flex-wrap text-white">
    {
      tags.map((tag, idx) => (
        <a
          class="min-w-20 h-10 rounded-3xl flex justify-center items-center p-2 cursor-pointer animate-fade-in brightness-65 hover:brightness-100 transition duration-300" 
          style={
          `background-color: ${colors[idx % colors.length]};`
          }
          href={`/zh-cn/${tag}`}
          >
          {tag}
        </a>
      ))
    }
  </main>
</Layout>